<section class="bizDetail">
  <h2>Business details</h2>
  <ul ng-hide="bizDetail.hideBizDetail">
    <li>Name: {{bizDetailCtrl.biz.name}}</li>
    <li>FEIN: {{bizDetailCtrl.biz.EIN}}</li>
    <li>Address: {{bizDetailCtrl.biz.address}}</li>
    <li>Phone: {{bizDetailCtrl.biz.phone}}</li>
    <li>Business Website: {{bizDetailCtrl.biz.url}}</li>
  </ul>
  <create-biz ng-hide="!bizDetail.hideBizDetail"></create-biz>
  <button class="btn-std" ng-click="bizDetailCtrl.addPic()">Add Pic</button>
  <button class="btn-std" ng-click="bizDetailCtrl.editBiz()">editBiz</button>
</section>
