<section class="bizDetail">
  <ul ng-hide="bizDetail.hideBizDetail">
    <li>Name: {{bizDetailCtrl.biz.name}}</li>
    <li>FEIN: {{bizDetailCtrl.biz.EIN}}</li>
    <li>Address: {{bizDetailCtrl.biz.address}}</li>
    <li>Phone: {{bizDetailCtrl.biz.phone}}</li>
    <li>Business Website: {{bizDetailCtrl.biz.url}}</li>
  </ul>
  <edit-biz ng-if="bizDetail.hideBizDetail" biz="bizDetailCtrl.biz"></edit-biz>
  <button class="btn-std" ng-click="bizDetailCtrl.addPic()">Add Pic</button>
  <button class="btn-std" ng-click="bizDetail.hideBizDetail=!bizDetail.hideBizDetail" biz="bizDetailCtrl.biz">editBiz</button>
  <button class="btn-std">Delete</button>
</section>
