@import "../scss/lib/theme/vars";

.signup-form{
	width: 60%;
	position: absolute;
	left: 20%;
	top: 25%;
	color: $font-color-white;
	background: rgba(255, 255, 255, 0.3);
form{
	margin-top: 10%;
	input{
		width: 50%;
		margin-left: 25%;
	}
	button{
		float: right;
		margin-right: 19%;
	}
}
}
