<section class="create-form" ng-if="createBizCtrl.showBiz">
  <h3>Your Business Info</h3>

  <form name="create-biz" class="" ng-submit="">

  <fieldset>
    <input class="input-std"
    name="name"
    type="text"
    placeholder="Business Name"
    ng-model="" required>
  </fieldset>

  <fieldset>
    <input class="input-std"
    name="ein"
    type="text"
    placeholder="Federal Employer Identification Number"
    ng-model="" required>
  </fieldset>

  <fieldset>
    <input class="input-std"
    name="address"
    type="text"
    placeholder="Business Address"
    ng-model="" required>
  </fieldset>

  <fieldset>
    <input class="input-std"
    name="phone"
    type="tel"
    placeholder="Business Phone"
    ng-model="" required>
  </fieldset>

  <fieldset>
    <input class="input-std"
    name="url"
    type="url"
    placeholder="Business URL Address"
    ng-model="">
  </fieldset>

    <button class="btn-std" ng-click="">Save</button>
    <button class="btn-std" ng-click="">Edit</button>
    <button class="btn-std" ng-click="">Log Out</button>
  </form>
</section>
