@import "../scss/lib/theme/vars";

.biz{
  height: 70%;
  width: 70%;
  margin-left:  15%;
  background: rgba(8, 8, 7, 0.78);
  color: $font-color-white;
  font-size: 1em;
  padding: $gutter-std 0;
  h2{
    margin: $gutter-std $gutter-std 0 $gutter-std;
    text-align: center;
  }
  div{
    height: 70%;
    width: 89.6%;
    margin-left:  5%;
    border: 1px $btn-search-color solid;
    position: relative;
    .cancel{
      position: absolute;
      top: 34.4vh;
      left: 17.3vw;
    }
  }
}
