@import "../scss/lib/theme/vars";

.login-form{
	width: 60%;
	height:40%;
	position: absolute;
	left: 20%;
	top: 25%;
	color: $font-color-white;
	background: rgba(255, 255, 255, 0.3);
form{
	margin-top: 20%;
	input{
		width: 50%;
		margin-left: 25%;
	}
	button{
		font-size: 0.8em;
		margin-left: 10%;
	}
	button:nth-child(4){
		float: right;
		margin-right: 10%;
	}
}
}
