<section class="edit-create-form">
  <h3>Your Business Info</h3>

  <form name="edit-create" novalidate>

  <input class="input-std"
  name="name"
  type="text"
  placeholder="Business Name"
  ng-model="">

  <input class="input-std"
  name="EIN"
  type="text"
  placeholder="Federal Employer Identification Number"
  ng-model="" required>

  <input class="input-std"
  name="address"
  type="text"
  placeholder="Business Address"
  ng-model="">

  <input class="input-std"
  name="phone"
  type="tel"
  placeholder="Business Phone"
  ng-model="">

  <input class="input-std"
  name="url"
  type="url"
  placeholder="Business URL Address"
  ng-model="">

  <button class="btn-std" ng-click="">Save</button>
  <button class="btn-std" ng-click="">Edit</button>
  <button class="btn-std" ng-click="">Log Out</button>
</form>
</section>
