@import "../scss/lib/theme/vars";

.edit-biz{
  width: 100%;
  padding: $gutter-std / 2  $gutter-std;
  form{
    fieldset{
      input{
        display: inline-block;
        width: 50%;
      }
    }
  }
}
