@import "../scss/lib/theme/vars";

.create-biz{
  width: 100%;
  margin: $gutter-std;
  padding: $gutter-std / 2  $gutter-std;
  form{
    fieldset{
      input{
        display: inline-block;
      }
    }
  }
}
