@import "../scss/lib/theme/vars";
.header{
  background: rgba(8, 8, 7, 0.78);
  color: $font-color-white;
  font-weight: bold;
  height: 5vh;
  width: 100%;
  padding: $gutter-std / 4;
  position: relative;
  button{
    font-size: 1em;
    background-color: inherit;
    font-weight: bold;
    color: $font-color-white;
    border: none;
    &:hover{
      border-radius: $border-std / 2;
      border: $border-std / 2 solid $font-color-white;
    }
  }
  button:first-child{
    margin-left: 5%;
  }
  div{
    display: inline;
    float: right;
    margin-right: 1%;
    li{
      display: inline-block;
      font-size: 0.7em;
    }
  }
  clear: both;
}

@media screen and (min-width:250px) and (max-width: 500px){
  .header{
    padding: $gutter-std;
    div{
      width: 50%;
    }
    #connect, #inform, div li{
      display: none;
    }
  }
}
@media screen and (min-width:500px) and (max-width: 800px){
  .header{
    padding: $gutter-std;
    div{
      width: 30%;
    }
    #inform, div li{
      display: none;
    }
  }
}
@media screen and (min-width:800px){
  .header{
    padding-top: $gutter-std;
    div{
      margin-right: $gutter-std;
      li{
        display: inline-block;
      }
    }
  }
}
