@import "../scss/lib/theme/vars";

.signup-form{
  width: 60%;
  position: absolute;
  left: 20%;
  top: 25%;
  color: $font-color-white;
  background: rgba(8, 8, 7, 0.78);
  form{
    margin-top: 10%;
    margin-bottom: 15%;
    input{
      width: 50%;
      margin-left: 22%;
    }
    button{
      float: right;
      margin-right: 19%;
    }
  }
}
